@{
    ViewData["Title"] = "LabFlight";
}


<!DOCTYPE html>

<html>
    <body>
       
     <p><a asp-controller="Airport" asp-action="Index">Аэропорты</a></p>
      <p><a asp-controller="Flight" asp-action="Index">Полеты</a></p>
       <p><a asp-controller="Person" asp-action="Index">Люди</a></p>
        <p><a asp-controller="Ticket" asp-action="Index">Билеты</a></p>
         <p><a asp-controller="Plane" asp-action="Index">Самолеты</a></p>

</body>
</html>
